body {
  background-color: rgb(196, 255, 255);
}
.App {
  text-align: center;
  margin-top: 20vh;
}
button {
  padding: 14px 20px;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
h1 {
  font-size: 56px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  color: grey;
}
.minus {
  background-color: red;
}
.plus {
  background-color: rgb(77, 144, 85);
}
button:active {
  opacity: 0.8;
}
